
    .container {
        margin: 0;
        padding: 0;
    }

    .nossaComida, .panela{
        width: 90vw;
        height: auto;
        text-align: center;
        margin: 0;

    }
    #NossaComida .container,  #nossaEquipe .container{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
   
    


    .imagem {
        text-align: center;
        margin: 25px 0;
    }
    
.titulo{
    text-align: center;
}

    .titulo, .item {
        font: 500px 23px 'mont', sans-serif;
    }

    .texto {
        font: 300 15px 'mont,', sans-serif
    }

    .item {
        font: 350 10px 'mont', sans-serif;
        padding: 0 3px;
        text-align: center;
        display: block;
    }

    .menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

    }

    .logo {
        width: 50vw;
        height: auto;
        margin-left: 10px;
    }

    .conteudo {
        margin: 0 20px;
        padding: 0;
        border: 10;
    }

    #header,
    menu {
        display: block;
    }

    .prato {
        width: 80vw;
        margin: 0;

    }

    .cardapio {
        margin: 0 20px;

    }

    #nossaEquipe .container {
        display: flex;
        flex-direction: column-reverse;

    }

    .section {
        margin: 20px 0 0;
    }

    #contato {
        margin: 0;
        border: 0;
        display: flex;
        flex-direction: column;

    }

    #contato .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .name {
        width: 90vw;
        margin: 0;
    }

    .name .amm {
        font: 500 30px 'mont', sans-serif;
        margin: 10px 0 0;
    }

    .amm {
        font: 600px 'mont', sans-serif;
        margin: 10px 0 0;

    }

    .cs {
        font: 400 40px 'mont', sans-serif;
    }

    .redes {
        display: block;
        margin: 20px 0;

    }

    .rede {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 90vw;
        margin: 10px 0;
    }

    .endereco {
        width: 90vw;
        margin-bottom: 60px;
    }
    .redes{
        display: flex;
        text-align: left;
    }
    .amm, .cs{
        text-align: center;

    }
}
   